<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <bean id="imDAO" class="ro.springhotel.hotel.dao.inmemory.IMClientDAO"/>
    <bean id="clientService" class="ro.springhotel.hotel.service.ClientService">
        <property name="dao" ref="imDAO" />
    </bean>

</beans>